<div class="container"></div>
<div class="row">
    <div class="column left" id="set1">

        <div class="container-fulid">
            <div class="input-group">
                <h4>Quick Shop</h4>
                <input type="search" placeholder="search product" class="search">
                <button type="button" class="btn btn-info">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <div class="column left">
            <div class="column-cent">
                <h4>
                    <div class="set1f">
                        Categories
                    </div>
                </h4>
                <ul class="list-group bor" *ngFor="let getdatacall of alldata">
                    <li class="list-group-item abs"> {{getdatacall.productName}}<span class="tag tag-default tag-pill pull-xs-right">{{getdatacall.availableProduct}}</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="column right" id="set2">
        <div class="container-fluid">
            <div class="card" *ngFor="let item of  alldata">
                <img class="card-img-top img-fluid center-block product-item" src="{{item.image}}" alt="Product 1">
                <div class="card-block text-xs-center">Product No : {{item.id}}
                    <h4 class="card-title">{{item.productName|uppercase}}</h4>
                    <h4 class="card-subtitle">
                        <span class="tag tag-success">$&nbsp;{{item.price}}</span>
                    </h4>
                    <hr>
                    <div class="btn-group" role="group"> <button class="btn btn-primary" onclick="dataEnter(item.price)">Buy</button>
                        <button class="btn btn-info"> Info</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>